/* This file is for your main application css. */

@import "~milligram/dist/milligram";

.any-card {
    text-align: center;
    padding: 3em;
    width: 8em;
    height: 8em;
    border: thin solid green;
}

.column > p {
    padding-top: 10ex;
    text-align: center;
}

#card {
  width: 60px;
  height: 90px;
  color: black;
  background: gray;
  text-align: center;
  font-size: 25px;
}

#matchedCard {
  width: 60px;
  height: 90px;
  color: black;
  background: green;
  text-align: center;
  font-size: 25px;
}

#cardValue {
  font-size: 20px;
  font-weight: 600;
}

#clicks {
  text-align: left;
  font-size: 20px;
  padding: 1em;
}
