/* This file is for your main application css. */

@import "~milligram/dist/milligram";

.column > p {
    padding-top: 10ex;
    text-align: center;
}

#button {
  width: 50px;
  height: 20px;
  color: blue;
  text-align: center;
  font-size: 15px;
}

#card {
  width: 60px;
  height: 90px;
  color: black;
  background: gray;
  text-align: center;
  font-size: 25px;
}

#matchedCard {
  width: 60px;
  height: 90px;
  color: black;
  background: green;
  text-align: center;
  font-size: 25px;
}

#cardValue {
  font-size: 20px;
  font-weight: 600;
}

#clicks {
  text-align: center;
}
