/* This file is for your main application css. */

@import "~milligram/dist/milligram";

.matching-card {
    text-align: center;
    padding: 3em;
    width: 8em;
    height: 8em;
    border: thin solid black;
    background: #00ff11;
}

.notmatching-card {
    text-align: center;
    padding: 3em;
    width: 8em;
    height: 8em;
    border: thin solid black;
    background: white;
}

.column > p {
    padding-top: 10ex;
    text-align: center;
}

#cardValue {
  font-size: 40px;
  font-weight: 600;
  text-align: center;
  font-color: white;
}

#clicks {
  text-align: left;
  font-size: 20px;
  padding: 1em;
}
